body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.calculator {
    background-color:navy;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    border: 1px solid black;
}

#display {
    width: 204px;
    height: 50px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    border:none;
    border-radius: 10px;
    color: white;
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: white;
    color: black;
    box-shadow: 0 4px #1e272e;

}

button:active {
    box-shadow: 0 2px #1e272e;
    transform:translate(1px);
}

body {
    background-color: skyblue;
}

.plus {
    grid-row: span 2;
    height: 100%;
}
.wide {
    grid-column: span 2;
}


